.about{
    margin: 0 auto;
    padding-top: 70px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__img{
        display: block;
        width: 272px;
        height: 355px;
    }
    &__descr{
        width: 346px;
        &-text{
            margin: 26px auto 0 auto;
            width: 346px;
            font-family: 'Merienda';
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            color: #000000;
        }
    }
}